@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --verde-principal: #4C9F38;
    --verde-oscuro: #2E6E26;
    --verde-hover: #3D842C;
    --verde-claro: #d6e3d1;
    --verde-fondo: #F6FBF4;
    --verde-bajaopacidad: rgba(76, 159, 56, 0.6);
}

#pilares,
#acciones1 {
    margin: 0 5%;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: var(--verde-fondo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
}

header a img {
    width: 150px;
    height: auto;
    padding: 0 0.8em;
}

nav {
    display: none;
    gap: 2em;
    margin-left: auto;
    padding: 2em;
}

nav a {
    position: relative;
    padding: 1em;
    color: var(--verde-principal);
}

nav a::before {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: var(--verde-principal);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

nav a:hover::before {
    width: 100%;
}

header img[alt="icono menu"] {
    width: 65px;
    height: auto;
    display: block;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--verde-fondo);
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

#hero {
    min-height: 100vh;
}

#salud {
    background-image: url(img/principal.png);
    min-height: 100vh;
    margin-bottom: 0.5em;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#salud h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    line-height: 1.2em;
    color: white;
    margin: 0px 111px 20px 20px;
}

#salud p {
    font-family: Poppins, sans-serif;
    font-size: 0.8em;
    color: white;
    margin: 20px 100px 20px 20px;
    display: none;
}

#salud a {
    display: inline-block;
    align-self: flex-start;
    color: white;
    font-size: 0.8em;
    background-color: var(--verde-hover);
    border: var(--verde-principal) 2px solid;
    padding: 1em 1.1em;
    text-decoration: none;
    margin: 20px 0;
    transition: 0.4s;
}

#salud a:hover {
    color: white;
    background-color: var(--verde-bajaopacidad);
    border: var(--verde-principal) 2px solid;
    border-left: none;
    transform: scale(105%);
}

#salud a:active {
    color: var(--verde-principal);
    background-color: var(--verde-claro);
    border: var(--verde-claro) 2px solid;
    border-left: none;
    font-weight: bold;
}

#participa {
    background-color: var(--verde-principal);
    color: white;
    text-align: center;
    padding: 1.5em 1.5em;
    width: 90%;
    margin: auto;
}

#participa:hover {
    transition: 0.3s;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}


#participa h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1.6em;
}

#participa p {
    font-size: 0.7em;
    padding-bottom: 1em;
}

#participa label {
    display: block;
    text-align: left;
    font-size: 0.8rem;
}

#participa input,
#participa select {
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 0.5em;
    margin-bottom: 1em;
}

#participa select {
    background-color: var(--verde-claro);
    color: var(--verde-oscuro);
}

#participa input[type="submit"] {
    width: 50%;
    margin-top: 2.5em;
    border-radius: 10px;
    background-color: white;
    color: var(--verde-oscuro);
    transition: 0.3s;
    border: var(--verde-oscuro) 3px solid;
    display: block;
    margin: 30px auto auto auto;
}

#participa input:hover {
    color: white;
    background-color: var(--verde-bajaopacidad);
}

#participa input:active {
    background-color: var(--verde-claro);
    color: var(--verde-principal);
    border: var(--verde-claro) 3px solid;
    font-weight: bold;
}

#pilares {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    margin-top: 0.5em;
}

#pilares article {
    position: relative;
    display: flex;
    min-height: 280px;
    flex-direction: column;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pilares article:nth-of-type(1) {
    background-image: url(img/5\ salud\ mental.png);
}

#pilares article:nth-of-type(2) {
    background-image: url(img/1\ salud\ fisica.png);
}

#pilares article:nth-of-type(3) {
    background-image: url(img/2\ prevencion.png);
    padding: 10px;
}

#pilares article:nth-of-type(4) {
    background-image: url(img/4\ acceso\ a\ la\ salud.png);
}

#pilares article:nth-of-type(5) {
    background-image: url(img/3\ bienestar\ integral.png);
}

#pilares article:nth-of-type(6) {
    display: none;
}


#principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#secundario h2,
#secundario p {
    display: none;
}

#pilares article h2 {
    font-family: "Roboto Condensed", sans-serif;
    border-bottom: 2px solid white;
    padding-bottom: 0.2em;
    background-color: var(--verde-bajaopacidad);
    padding: 7px 10px 6px 10px;
}

#pilares article p {
    background-color: var(--verde-bajaopacidad);
    padding: 10px;
    font-size: 0.7em;
}

#pilares article a {
    display: inline-block;
    align-self: flex-start;
    color: white;
    text-decoration: none;
    font-size: 0.5em;
    background-color: var(--verde-principal);
    padding: 5px 15px;
    margin-top: 5px;
    border: var(--verde-principal) 2px solid;
    transition: 0.3s;
}

#pilares article a:hover {
    background-color: white;
    color: var(--verde-principal);
    border: var(--verde-principal) 2px solid;
    padding: 5px 15px;
}

#pilares article a:active {
    background-color: white;
    color: var(--verde-principal);
    border: var(--verde-principal) 2px solid;
    padding: 5px 15px;
    font-weight: bold;
}

#acciones {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

#acciones article {
    background-color: var(--verde-claro);
    color: var(--verde-oscuro);
    border-bottom: 4px solid var(--verde-oscuro);
    border-radius: 10px 10px 0 0;
    text-align: center;
    overflow: hidden;
    font-size: 0.8em;
    padding-bottom: 10px;
    position: relative;
    box-shadow: 0px 1px 13px 0 rgba(0, 0, 0, 0.3);
}

#acciones1 h2 {
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2em;
    color: var(--verde-oscuro);
    padding: 1.5em 0 0.8em;
}

#acciones a {
    display: inline-block;
    color: var(--verde-oscuro);
    padding: 0.2em 0.6em;
    background-color: var(--verde-claro);
    border: var(--verde-oscuro) 2px solid;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s;
}

#acciones article h3 {
    padding: 0.8em 0.8em 0.2em;
}

#acciones article p {
    padding: 0 0.5em;
    font-size: 0.9em;
}

#acciones a:hover {
    color: white;
    background-color: var(--verde-principal);
    border: var(--verde-principal) 2px solid;
}

#acciones a:active {
    color: var(--verde-principal);
    background-color: var(--verde-claro);
    border: var(--verde-principal) 3px solid;
}

#acciones article img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 20px;
    padding: 10px 10px 0 10px;
}

#acciones article:nth-of-type(4) img,
#acciones article:nth-of-type(5) img {
    display: none;
}


#acciones article:nth-of-type(4),
#acciones article:nth-of-type(5) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#acciones a.informarme {
    display: none;
}

footer {
    background-color: var(--verde-oscuro);
    color: white;
    text-align: center;
    padding: 1em;
    margin-top: 0.3em;
}

footer img {
    width: 50px;
    height: auto;
}

footer p {
    font-size: 0.9em;
}


/* Pantalla tablet */
@media (min-width: 768px) {
    #pilares {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #acciones {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #salud {
        font-size: 2em;
    }

    #pilares article:nth-of-type(3) {
        grid-row: span 2;
        background-size: cover;
        justify-content: flex-start;
        padding: 0 20px 0 20px;
    }

    #pilares article:nth-of-type(4) {
        grid-column: span 2;
        background-size: cover;
    }

    #pilares article:nth-of-type(2) {
        grid-row: 2;
        grid-column: 1;
        background-image: none;
        background-color: var(--verde-principal);
    }

    #pilares article:nth-of-type(6) {
        display: inline-block;
        background-color: var(--verde-principal);
    }

    #secundario h2,
    #secundario p {
        display: inline-block;
        color: white;
        background-color: var(--verde-principal);
        margin: 0 20px 0 20px;
    }

    #acciones article:nth-of-type(1) {
        grid-row: span 2;
        background-size: cover;
    }

    #acciones article:nth-of-type(2) {
        grid-row: span 2;
        background-size: cover;

    }

    #acciones article:nth-of-type(3) {
        grid-row: span 2;
        background-size: cover;

    }

    #acciones article {
        overflow: hidden;
    }

    #acciones article img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }

    #acciones article:nth-of-type(1) img {
        object-position: center center;
    }

    #acciones article:nth-of-type(2) img {
        object-position: top center;
    }

    #acciones article:nth-of-type(3) img {
        object-position: center center;
    }

    #acciones article:nth-of-type(4),
    #acciones article:nth-of-type(5) {
        display: flex;
        flex-direction: column;
    }

    #acciones article a {
        display: inline-block;
        width: fit-content;
        align-self: center;
    }

}

/* Pantalla desktop */
@media (min-width: 1024px) {
    #participa {
        position: absolute;
        top: 29%;
        left: 62%;
        border-radius: 1em;
        border: 0.3em solid var(--verde-principal);
        background-color: var(--verde-bajaopacidad);
        width: 350px;
    }

    #pilares {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #principal h2 {
        font-size: 1.5em;
    }

    #pilares #principal p {
        font-size: 1em;
    }

    #pilares #principal a {
        font-size: 0.8em;
    }

    #secundario h2 {
        font-size: 1.5em;
    }

    #pilares #secundario p {
        font-size: 1em;
    }

    #pilares article:nth-of-type(3) {
        justify-content: flex-end;
        text-align: center;
        padding: 20px;
    }

    #pilares article:nth-of-type(4) {
        justify-content: flex-end;
        padding: 20px;
    }

    #pilares article a {
        display: inline-block;
        align-self: center;
    }

    #pilares article:hover {
        transition: 0.4s;
        z-index: 1;
        transform: scale(105%);
    }

    #acciones {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    #salud {
        font-size: 2em;
    }

    #salud p {
        display: block;
        margin-top: 0.2em;
        font-size: 0.6em;
    }

    #salud h1 {
        margin-bottom: 0;
    }

    header img[alt="icono menu"] {
        display: none;
    }

    nav {
        display: flex;
    }

    #acciones {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #acciones article {
        flex-basis: 32%;
        box-shadow: none;
        transition: 0.3s;
    }

    #acciones article:hover {
        box-shadow: 0px 1px 13px 0 rgba(0, 0, 0, 0.3);
    }

    #acciones article:nth-of-type(4) img,
    #acciones article:nth-of-type(5) img {
        display: block;
    }

    #acciones a.informarme {
        z-index: 1;
        display: block;
        position: absolute;
        right: 19px;
        top: 10px;
    }

}